.headerwrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 6px;
    height: 42vw;
    background-image: url(../assets/background.webp);
    background-attachment: fixed;
}

.imagen {
    width: 38vw;
    height: 41vw;
    opacity: 0;
    animation: desplazar-imagen 1s ease-out 2s forwards;
    align-self: flex-end;
}

.titulos {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.text {
    font-size: var(--mediano);
    opacity: 0;
    animation: desplazar-texto 1s ease-out forwards;
}

.titulo {
    font-size: var(--grande);
    font-family: "montserrat";
    color: var(--color-primario);
    opacity: 0;
    animation: desplazar-texto 1s ease-out 0.3s forwards; 
}

.textIt {
    font-family: "montserrat";
    font-style: italic;
    font-size: var(--chico);
    opacity: 0;
    animation: desplazar-texto 1s ease-out 0.6s forwards; 
    margin-bottom: 15px;
    margin-top: 5px;
}

.boton {
    background-color: transparent;
    border: solid var(--color-terciario) 1px;
    padding: 10px;
    transition-duration: 0.5s;
    opacity: 0;
    animation: desplazar-texto 1s ease-out 1s forwards; 
    cursor: pointer;
    width: fit-content;
    font-size: var(--chico);
}

.boton:hover {
    background-color: var(--color-primario);
    color: var(--color-secundario);
    border-color: var(--color-secundario);
}


@keyframes desplazar-texto {
    from {
        opacity: 0; 
        transform: translateY(-30px);
    }
    to {
        transform: translateY(0);
        opacity: 1; 
    }
}

@keyframes desplazar-imagen {
    from {
        opacity: 0;
        transform: translateX(80px); 
    }
    to {
        opacity: 1;
        transform: translateX(0)
    }
}

@media screen and (max-width: 550px) {
    .titulos {
        margin-left: 10px;
    }
}