.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.carrusel {
    margin-top: 10px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.button {
    height: fit-content;
    background-color: transparent;
    border: none;
    font-size: 30px;
    cursor: pointer;
    border-radius: 50px;
    padding: 5px;
    transition: 0.3s;
}

.button:hover {
    background-color: var(--color-primario);
    color: var(--color-secundario);
}

.titulo {
    font-size: var(--mediano-2);
    color: var(--color-primario);
}

.subtitulo {
    font-style: italic;
    font-size: var(--chico);
}

@media screen and (max-width: 980px) {
    .section {
        margin-top: 35px;
        gap: 20px;
        margin-bottom: 50px;
    }
}