.card {
    cursor: pointer;
}

.card:hover .img {
    transform: scale(0.9);
}

.card:hover .datos {
    color: var(--color-primario);
} 

.imgContainer {
    background-color: var(--color-cuaternario);
    padding: 10px;
    width: fit-content;
}

.img {
    width: max(5.5rem, 10vw);
    height: max(5.5rem, 10vw);
    object-fit:contain;
    transition-duration: 0.3s;
}

.datos {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
    font-size: var(--chico);
}