.footer1, .footer2 {
    display: flex;
    padding: 20px;
    gap: 10px;
    color: var(--color-secundario);
}

.boton {
    position: absolute;
    left: 50%;
    height: max(46px, 3vw);
    width: max(46px, 3vw);
    transform: translateX(-50%);
    top: -20px;
    background-color: var(--color-secundario);
    border-radius: 50px;
    color: var(--color-quinario);
    padding: 10px;
    border: solid var(--color-quinario) 1px;
    text-decoration: none;
    transition: 0.5s;
}

.boton:hover {
    background-color: var(--color-quinario);
    color: var(--color-secundario);
}

.footer1 {
    justify-content: space-evenly;
    padding-top: 50px;
    position: relative;
    margin-top: 80px;
}

.footer2 {
    justify-content: center;
}

.seccion {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.lista {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 15px;
    font-size: var(--chico);
}

.link {
    color: var(--color-secundario);
}

.footer1 {
    background-color: var(--color-quinario);
}

.footer2 {
    background-color: var(--color-terciario);
    font-size: var(--chico);
}

.titulo {
    font-size: var(--chico-2);
}