@font-face {
    font-family: "montserrat";
    src: url("./Fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "montserrat-light";
    src: url("./Fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
    font-weight: 100;
}